<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <meta charset="UTF-8"/>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script type="text/javascript" th:inline="javascript" src="../static/js/shto.js" th:src="@{/js/shto.js}"></script>
</head>
<body>
	<h1 class="staf-h">Ndrysho person</h1>
	
	<div class="shto">
		<form action="#" th:action="@{/editPerson/{id}(id=${_person.id})}" method="post">
			
			<label>Emri: <label th:text="${_person.emri}"></label> </label>
			<br />
			<label>Mbiemri: <label th:text="${_person.mbiemri}"></label> </label>
			<br /><br />
			<label>Adresa e shtepise</label>
			<br />
			<input type="text" name="addShtepise" th:field="${_person.addShtepise}">
			<br />
			<label>Qyteti</label>
			<br />
			<select th:field="${_person.qyteti}" name="qyteti">
			    <option th:each="i : ${qytete}" th:value="${i}" th:text="${i}" th:selected="${i==_person.qyteti}"></option>
			</select>
			<br />
			<label>Godina</label>
			<br />
			<input type="text" name="godina" th:field="${_person.godina}">
			<br />
			<label>Zyra</label>
			<br />
			<input type="text" name="zyra" th:field="${_person.zyra}">
			<br />
			<label>Drejtues i Larte</label>
			<br />
			<select th:field="${_person.drLarte}" name="drLarte" id="drLarte_id" onchange="departamentet()">
			    <option th:each="i : ${drLarte}" th:value="${i}" th:text="${i}" th:selected="${i==_person.drLarte}"></option>
			</select>
			<br />
			<label>Departamenti</label>
			<br />
			<select th:field="${_person.departamenti}" name="departamenti" id="departamenti_id" onchange="drejtorite()">
			    <option th:each="i : ${departamenti}" th:value="${i}" th:text="${i}" th:selected="${i==_person.departamenti}"></option>
			</select>
			<br />
			<label>Drejtoria</label>
			<br />
			<select th:field="${_person.drejtoria}" name="drejtoria" id="drejtoria_id" onchange="deget()">
			    <option th:each="i : ${drejtoria}" th:value="${i}" th:text="${i}" th:selected="${i==_person.drejtoria}"></option>
			</select>
			<br />
			<label>Dega</label>
			<br />
			<select th:field="${_person.dega}" name="dega" id="dega_id">
			    <option th:each="i : ${dega}" th:value="${i}" th:text="${i}" th:selected="${i==_person.dega}"></option>
			</select>
			<br />
			<label>Pozicioni</label>
			<br />
			<input type="text" name="pozicioni" th:field="${_person.pozicioni}">
			<br />
			<label>Numer zyre</label>
			<br />
			<input type="text" name="nrZyre1" maxlength="3" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrZyre1}">
			<br />
			<input type="text" name="nrZyre2" maxlength="3" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrZyre2}">
			<br />
			<label>Numer 6 shifra</label>
			<br />
			<input type="text" name="nr6Shifra1" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nr6Shifra1}">
			<br />
			<input type="text" name="nr6Shifra2" maxlength="6" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nr6Shifra2}">
			<br />
			<label>Numer 41-sh</label>
			<br />
			<input type="text" name="nr41sh1" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nr41sh1}" placeholder="06941x / 06920x">
			<br />
			<input type="text" name="nr41sh2" maxlength="15" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nr41sh2}" placeholder="06941x / 06920x">
			<br />
			<label>Numer personal</label>
			<br />
			<input type="text" name="nrPersonal1" maxlength="20" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrPersonal1}" placeholder="067x / 068x / 069x">
			<br />
			<input type="text" name="nrPersonal2" maxlength="20" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrPersonal2}" placeholder="067x / 068x / 069x">
			<br />
			<label>Numer VoIP</label>
			<br />
			<input type="text" name="nrVoIP1" maxlength="5" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrVoIP1}">
			<br />
			<input type="text" name="nrVoIP2" maxlength="5" oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="${_person.nrVoIP2}">
			<br />
			<button type="submit" class="button2">Ndrysho</button>
		</form>
	</div>
	
	<form action="/back" class="anullo-form">
		<button type="submit" class="anullo-button button3">Anullo</button>
	</form>
	
</body>
</html>